* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  overflow: hidden;
}
.main-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.main-body {
  max-width: 500px;
  background: #222;
  font-size: 16.5px;
  padding: 40px;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}
.input-block {
  display: flex;
  gap: 15px;
}

.input-block input {
  width: 200px;
  padding: 10px 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
.start-btn {
  padding: 10px 25px;
  border-radius: 5px;
  background: #ff006f;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background: #ff006fc4;
}
.count-down-timer {
  display: flex;
  gap: 25px;
  margin-top: 10px;
}
.days,
.hours,
.minutes,
.seconds {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.count-down-timer span {
  font-size: 40px;
  font-weight: 600;
  color: #ff006f;
}

.count-down-timer > div p:first-of-type {
  font-weight: 600;
  margin-top: 5px;
  font-size: 40px;
  color: white;
  letter-spacing: 2px;
}

.target-time span:first-of-type {
  color: #ff006f;
}

.error-message {
  background: rgba(27, 27, 27, 0);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.224);
  box-shadow: 0px 0px 10px 2px rgba(26, 1, 248, 0.75);
  border-radius: 25px;
  padding: 20px;

  font-size: 16.5px;
  margin-top: 20px;
  text-align: center;
  position: absolute;
  top: 20px;
  right: -420px;
  transition: right 0.5s ease-in-out;
}
.error-message.show {
  right: 20px;
}
