* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  overflow: hidden;
  background: url("./pexels-casia-charlie-1270232-2451038.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.386);
}

.main-container {
  height: 100vh;
  width: 100vw;
  padding: 0px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-body {
  max-width: 500px;
  background: rgba(7, 7, 7, 0.438);
  backdrop-filter: blur(5px);
  font-size: 16.5px;
  padding: 40px;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  font-weight: 500;
}
h1 {
  font-size: 34px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 15px;

  color: #ff006f;
  text-shadow: 0 0 5px #ff006f;
}
.input-block {
  display: flex;
  gap: 15px;
}

.input-block input {
  width: 200px;
  padding: 10px 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
.start-btn {
  padding: 10px 25px;
  border-radius: 5px;
  background: #ff006f;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: transform 0.3s ease-in-out;
}

button:hover {
  background: #ff006fc4;
}
button.active {
  transform: scale(0.94);
}

.count-down-timer {
  display: flex;
  gap: 25px;
  margin-top: 10px;
}
.days,
.hours,
.minutes,
.seconds {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.count-down-timer span {
  font-size: 40px;
  font-weight: 600;
  color: #ff006f;
}

.count-down-timer > div p:first-of-type {
  font-weight: 600;
  margin-top: 5px;
  font-size: 40px;
  /* color: white; */
  letter-spacing: 2px;
}

.target-time span:first-of-type {
  color: #ff006f;
}

.error-message {
  color: white;
  border-radius: 10px;
  padding: 20px;
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
  position: absolute;
  top: 20px;
  right: -420px;
  transition: right 0.5s ease-in-out;
  background: rgba(7, 7, 7, 0.438);
  backdrop-filter: blur(5px);
}
.error-message.show {
  right: 20px;
}
